<div class="header solutions">
  <div class="container">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <p class="navbar-brand">Startright</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse d-flex justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item ">
              <a class="nav-link " aria-current="page" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="/solutions" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Solutions
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Sub Menu One</a></li>
                <li><a class="dropdown-item" href="#">Sub Menu Two</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Sub Menu One</a></li>
                    <li><a class="dropdown-item" href="#">Sub Menu Two</a></li>
                    <li><a class="dropdown-item" href="#">Sub Menu Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/plans&pricing" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Plans & Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  " routerLink="/why-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Why Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="/contact-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1>Solutions</h1>
    <ol>
      <li><a  routerLink="/home">Home </a></li>
      <li> / Library</li>
    </ol>
  </div>
</div>

<div class="section-2">
  <div class="container">
    <div class="row m-5">
      <div class="col-lg-7">
        <h1>Productive with Startright</h1>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
          there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        <div class="box">
          <img src="./img/person_1.jpg" alt="">
          <div class="box-content">
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
            It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            <p><strong>John Doe</strong>, XYZ Inc.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="img-box">
          <img src="./img/illustration_1.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section-4">
  <div class="container">
    <div class="row">
      <h1>Features</h1>
      <div class="col-lg-7">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="box">
          <i class="fa-solid fa-toggle-off"></i>
          <h2>Easy To Use</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box">
          <i class="fa-solid fa-fingerprint"></i>
          <h2>Fast and Secure</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box">
          <i class="fa-regular fa-paper-plane"></i>
          <h2>Robust and Intuitive</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box">
          <i class="fa-regular fa-clone"></i>
          <h2>Easy To Use</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box">
          <i class="fa-solid fa-display"></i>
          <h2>Fast and Secure</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box">
          <i class="fa-solid fa-code"></i>
          <h2>Robust and Intuitive</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <h4>help</h4>
        <p>Contact us</p>
        <p> Bootstrap 5</p>
        <p>Web Design</p>
        <p> Pricing</p>
        <p> FAQ</p>
      </div>
      <div class="col-2">
        <h4>help</h4>
        <p>Contact us</p>
        <p> Bootstrap 5</p>
        <p>Web Design</p>
        <p> Pricing</p>
        <p> FAQ</p>
      </div>
      <div class="col-2">
        <h4>Support</h4>
        <p>Knowledge base</p>
        <p>Forum</p>
        <p>Contact</p>
      </div>
      <div class="col-6">
        <h4>Subscribe</h4>
        <input type="email" placeholder="Email address">
        <button>Subscribe</button>
      </div>
    </div>
  </div>
</div>
